<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	    
    <!-- byNameautowiring -->
    
    <bean id="driver_name" class="com.ncu.byNameDemo.Driver" autowire="byName">
    <property name="Driver_name" value="XYZ">
    </property>
    </bean>
    
    <bean id="details" class="com.ncu.byNameDemo.License" >
    <property name="names">
    <list>
    <value>"4-wheeler"</value>
    </list>
    </property>
  	</bean>
  	</beans>
